html, body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', Arial, sans-serif;
  }
  
  .app {
    display: flex;
  }
  
  #link {
  text-decoration: none;
  color: rgb(46, 46, 46);
  }
  
  .test {
      background-color:blue;
  }

  /* ----- Nav ------ */
  nav {
    height: 100vh;
    background-color: #FF6363;
    color: rgb(255,255,255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  nav .logo-container,
  nav .controls-container {
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
  }
  
  nav .logo-container img {
    width: 30px;
  }
  
  nav .icon {
    color: rgb(255,255,255);
  }

  /* Dashboard */
  .dashboard {
    padding: 30px;
    width: 100%
  }

  .dashboard .ticket-container {
    height: 80vh;
    overflow: scroll;
  }

  /* TicketCard */
  .ticket-card {
    display: flex; 
    width: 100%
  }