@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');

*/ html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.app {
  display: flex;
}

#link {
  text-decoration: none;
  color: rgb(46, 46, 46);
}

.test {
  background-color: blue;
}



/*----- Nav ------ */
nav {
  height: 100vh;
  background-color: #FF6363;
  color: rgb(255, 255, 255);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1000;
}

nav .logo-container,
nav .controls-container {
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}

nav .controls-container .icon {
  width: 0;
}

nav .logo-container img {
  width: 25px;
}

nav .icon.iconhouse {
  width: 100%;
}

nav .icon {
  color: rgb(255, 255, 255);
}

/* Dashboard */
.Header-display {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.dashboard {
  padding: 35px;
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
}


.dashboard-title {
  font-size: 50px;
  margin: 0px 0px 40px 0px;
  font-family: 'Rubik', sans-serif;
}

.dashboard .ticket-container {
  height: 80vh;
  overflow: scroll;
}

/* TicketCard */
.ticket-card {
  display: flex;
  width: 100%;
}

.ticket-location {
  font-family: 'Rubik', sans-serif;
}
.ticket-Telephone
{
  font-size: 26px;
  font-family: 'Rubik', sans-serif;
}

.ticket-card #link {
  display: flex;
  width: 100%;
}

.ticket-card #link>* {
  background-color: rgb(221, 221, 221);
  margin: 2px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}

.ticket-card .ticket-color {
  width: 15px !important;
  padding: 10px !important;
  margin: 2px;
}

.ticket-card .avatar-container {
  display: flex;
  justify-content: center;
  width: 80px;
}

.ticket-card .img-container {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
  align-items: center;
}

.ticket-card .img-container img {
  width: 100%
}

.ticket-card .status-display {
  display: flex;
  justify-content: center;
}

.ticket-card .priority-display {
  display: flex;
  justify-content: center;
}

.ticket-card .priority-display .star-container {
  display: flex;
}

.ticket-card .priority-display .star-container h3 {
  margin: 7px;
  padding: 0;
}

.ticket-card .progress-display {
  min-width: 200px;
}

.ticket-card .progress-bar {
  width: 100%;
  height: 30px;
  background-color: rgb(158, 158, 158);
  border-radius: 15px;
  overflow: hidden;
}

.ticket-card .progress-bar .progress-indicator {
  background-color: rgb(104, 104, 175);
  height: 100%;
}

.ticket-card .delete-block {
  background-color: rgb(211, 211, 211);
  width: 50px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-card .delete-block .delete-icon {
height: 20px; 
  /* width: 20px;
  border-radius: 10px;
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);   */
}

/* ---- Ticket page ---- */

.ticket {
  padding: 30px;
  width: 100%;
}

.ticket .ticket-container {
  width: 100%;
  display: flex;
  justify-content: left;

}

.ticket form {
  display: flex;
}

.ticket form section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 500px;
}

.ticket form label {
  margin: 20px 0 0 0;
}

.ticket form select,
.ticket form input {
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1.5px solid rgb(218, 218, 218);
  margin: 5px;
}

.ticket form .multiple-input-container {
  margin: 20px 0 20px 10;
}

#description {
  display: flex;
  height:200px;
  display: inline-block;

}

/* LoginPage */

.xlogin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  background-color: white;
  width: 100%;
}

.xlogin {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);
  padding: 25px;
  width: 500px;
  max-width: 100%;
}

.xinputs {
  appearance: none;
  background: none;
  outline: none;
  width: 85%;
  border-color: lightgrey;
  height: 25px;
}



.xloginbutton {
  appearance: none;
  background: none;
  outline: none;
}

.xlogin:after {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
}

.xlogin,
.x-inner {
  background-color: white;

}

.xlogin .x-inner h2 {
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.xlogin,
.x-inner,
.x-group {
  display: block;
  margin-bottom: 15px;
}

.x-inner,
.xgroup,
.x-label {
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
}

.x-inner,
.xgroup:focus-within,
.x-label {
  color: black;
}

.x-inner {
  padding: 20px;
  width: 100%;
  position: relative;
  z-index: 1001;
}